@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims;
@model MBL.Data.Entities.Book

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}



<div class="col-md-6">
   
</div>
<ul class="list-group">
    <li class="list-group-item">@Html.DisplayFor(model => model.Title)</li>
    <li class="list-group-item">@Html.DisplayFor(model => model.Author)</li>
    <li class="list-group-item">@Html.DisplayFor(model => model.Language)</li>
    <li class="list-group-item">@Html.DisplayFor(model => model.Pages)</li>
    <li class="list-group-item">@Html.DisplayFor(model => model.Description)</li>
    <a href="@Model.Link">link text</a>
</ul>
@{
    if (!Model.ReadBooks.Any(b => b.User.Id == userId))
    {
        <a asp-area="" asp-controller="Books" asp-action="AddToReadList" asp-route-id="@Model.Id" class="btn btn-primary">Add To Read Book List</a>
        
    }
    else
    {
        <a asp-area="" asp-controller="User" asp-action="RemoveFromReadList" asp-route-id="@Model.Id" class="btn btn-primary">Remove From Read List</a>       
    }
}
@{
    if (!Model.WantedBooks.Any(b => b.User.Id == userId))
    {    
        <a asp-area="" asp-controller="Books" asp-action="AddToWantedList" asp-route-id="@Model.Id" class="btn btn-primary">Add To Wanted Book List</a>
    }
    else
    {
        <a asp-area="" asp-controller="User" asp-action="RemoveFromWantedList" asp-route-id="@Model.Id" class="btn btn-primary">Remove From Wanted List</a>
    }
}



