@using System.Security.Claims;
@model IEnumerable<MBL.Data.Entities.UserReadBook>

@{
    ViewData["Title"] = "ReadList";
}


@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<body style="background-color: #a0ced9">
    <h1>Read List</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Where(u => u.User.Id.Contains(userId)))
        {
            <div class="card" style="width: 18rem;">
                <img src="/images/@item.Book.ImagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Book.Title</h5>
                    <p class="card-text">@item.Book.Author</p>
                    <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@item.Book.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
    </div>
</div>
</body>>













@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(u => u.User.Id.Contains(userId)))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Id))
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </tbody>
</table>*@
